name: C/C++ CI

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

jobs:
  ubuntu:
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
    - uses: ammaraskar/gcc-problem-matcher@master

    - name: deps
      run: sudo apt-get install g++-10

    - name: configure
      run: cmake
        -DCMAKE_CXX_COMPILER=g++-10
        -DCMAKE_CXX_FLAGS="-O2 -pthread pipe -fno-plt -Wall -Wextra"
        -DCMAKE_INSTALL_PREFIX=/usr
        -B build

    - name: build
      run: |
          export MAKEFLAGS=-j$(nproc)
          cmake --build build

    - name: deb
      run: cmake --build build --target package

    - uses: actions/upload-artifact@v2
      with:
        name: ubuntu_package
        path: build/*.deb
